doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description" content="")
    meta(name="author" content="")
    title College CAP
    // Favicon
    link(rel="icon" type="image/x-icon" href="assets/img/logo.jpg")
    // Font Awesome icons (free version)
    script(src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous")
    // Google fonts
    link(href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css")
    // Third party plugin CSS
    link(href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" rel="stylesheet")
    // Core theme CSS (includes Bootstrap)
    link(href="css/styles.css" rel="stylesheet")
    // Global site tag (gtag.js) - Google Analytics
    script(async="" src="https://www.googletagmanager.com/gtag/js?id=UA-178820975-1")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-178820975-1');
  body#page-top
    // Navigation
    nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top.py-3
      .container
        img.navbar-brand.js-scroll-trigger.logohead(src="assets/img/logo.jpg")
        button.navbar-toggler.navbar-toggler-right(type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation")
          span.navbar-toggler-icon
        #navbarResponsive.collapse.navbar-collapse
          ul.navbar-nav.ml-auto.my-2.my-lg-0
            li.nav-item
              a.nav-link.js-scroll-trigger(href="index.html") Home
            li.nav-item
              a.nav-link.js-scroll-trigger(href="services.html") Services
            li.nav-item
              a.nav-link.js-scroll-trigger(href="about.html") About
            li.nav-item
              a.nav-link.js-scroll-trigger(href="events.html") Events
            li.nav-item
              a.nav-link.js-scroll-trigger(href="contact.html") Contact
    br
    br
    header.about
      .container.h-100
        .row.h-100.align-items-center.justify-content-center.text-center
          .col-lg-10.align-self-end
            h1.text-uppercase.text-white.font-weight-bold About Us
            hr.divider.my-4
          .col-lg-8.align-self-baseline
            p.text-white-75.font-weight-light.mb-5
              | Having over 50 years of combined higher education experience, we have seen it all. We are a group of professionals that are dedicated to you and your family’s financial success. Many times college students select a college without having all the information needed make the best financial decision. This decision point can have a rippling effect for years to come, often times diminishing the overall financial health of the family.
            p.text-white-75.font-weight-light.mb-5
              | At College CAP, we developed a model that will provide guidance to help a family truly understand what they can afford to pay for college. Our system will guide you through the process from start to finish to find you the best quality education for your budget.
    br
    section
      #portfolio
        .container-fluid.p-0
          .row
            .col-lg-6
              a.portfolio-box(href="assets/img/portfolio/fullsize/ph.jpg")
                img.img-fluid.img-height(src="assets/img/portfolio/fullsize/ph.jpg" alt="")
                .portfolio-box-caption
                  .project-category.text-white-50 Paul
                  .project-name Founding Partner
                  br
                  p.float-right
                    | Paul is on a mission to help families navigate and make a better decision about college. With more than 25 years of financial aid, enrollment management and student lending experience serving in a variety of leadership roles at the University of New England, Bentley University, Lesley University and JP Morgan Chase, Paul has helped thousands of students successfully through the college process. In his different capacities, Paul has a deep understanding of enrollment management and financial aid strategies commonly used in the industry.
            .col-lg-6
              a.portfolio-box(href="assets/img/portfolio/fullsize/mt.jpg")
                img.img-fluid.img-height(src="assets/img/portfolio/fullsize/mt.jpg" alt="")
                .portfolio-box-caption
                  .project-category.text-white-50 Bill
                  .project-name Founding Partner
                  br
                  p.float-right
                    | Bill has over 15 years of experience in the higher education industry, specifically in financial services across varying institutions. Having seen first-hand the mistakes that many ill-informed students and families have made, and is determined to be an advocate for the student. Bill has worked with many families and enjoys seeing families make strong financial decisions based on actual data.
    br
    footer.bg-light.py-5
      .container
        .small.text-center.text-muted Copyright © 2020 - College CAP
    // Bootstrap core JS
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js")
    // Third party plugin JS
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js")
    // Core theme JS
    script(src="js/scripts.js")
