head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='')
  meta(name='author' content='')
  title College CAP Assessment Form 
  // Favicon
  link(rel='icon' type='image/x-icon' href='assets/img/logo.jpg')
  // Font Awesome icons (free version)
  script(src='https://use.fontawesome.com/releases/v5.13.0/js/all.js' crossorigin='anonymous')
  // Google fonts
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' rel='stylesheet')
  // Bootstrap Font Icon CSS
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css')
  script(src='https://code.jquery.com/jquery-3.5.1.min.js')
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js')
  link(href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css')
  // Third party plugin CSS
  link(href='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css' rel='stylesheet')
  // Core theme CSS (includes Bootstrap)
  link(href='css/styles.css' rel='stylesheet')
  // Global site tag (gtag.js) - Google Analytics
  script(async='' src='https://www.googletagmanager.com/gtag/js?id=UA-178820975-1')
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag() {
    dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-178820975-1');
  script.
    $(document).ready(function(){
    $('[data-bs-toggle="tooltip"]').tooltip();
    });
// Navigation
nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top.py-3
  .container
    img.navbar-brand.js-scroll-trigger.logohead(src='assets/img/logo.jpg')
    button.navbar-toggler.navbar-toggler-right(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarResponsive.collapse.navbar-collapse
      ul.navbar-nav.ml-auto.my-2.my-lg-0
        li.nav-item
          a.nav-link.js-scroll-trigger(href='index.html') Home
        li.nav-item
          a.nav-link.js-scroll-trigger(href='services.html') Services
        li.nav-item
          a.nav-link.js-scroll-trigger(href='about.html') About
        li.nav-item
          a.nav-link.js-scroll-trigger(href='events.html') Events
        li.nav-item
          a.nav-link.js-scroll-trigger(href='video.html') Video Tutorial
        li.nav-item
          a.nav-link.js-scroll-trigger(href='contact.html') Contact
// Masthead
header.form
  .container.h-100
    .row.h-100.align-items-center.justify-content-center.text-center
      .col-lg-10.align-self-end
        h1.text-uppercase.text-white.font-weight-bold College CAP
        hr.divider.my-4
      .col-lg-8.align-self-baseline
        p.text-white-75.font-weight-light.mb-5 Let College CAP help you determine college affordability!
br
br
.container
  .row
    .col-md-12
      h1  CAP Assessment Form 
      h2 Student Information 
      p
        | Please complete this form to the best of your ability.  Providing accurate information will lead to a more realistic projection.
      form(action='https://formspree.io/f/xdobynpo' method='post')
        .form-group
          label
            | Parent Name  
            a(href='#' data-bs-toggle='tooltip' title='Please provide the parent first and last name that will be the main contact.')
              i.bi.bi-info-circle
          input.form-control(type='text' name='parentname' placeholder='First and Last Name' required='')
        .form-group
          label  Student Name 
          input.form-control(type='text' name='studentname' required='')
        .form-group
          label  State of Residence 
          a(href='#' data-bs-toggle='tooltip' title='Please enter the state of legal residence.  Please refer to your state requirements if you have recently moved.')
            i.bi.bi-info-circle
          input.form-control(type='text' name='state' required='')
        //
          <div class="form-group">
          <label> County </label>
          <input type="text" name="county" class="form-control" required>
          </div>
        .form-group
          label  Primary Contact Email Address 
          input.form-control(type='email' name='email' required='')
        h2 Family Information 
        .form-group
          label  Age of Oldest Parent 
          a(href='#' data-bs-toggle='tooltip' title='Please enter the age of your oldest living biological or step-parent if applicable')
            i.bi.bi-info-circle
          input.form-control(type='number' name='oldestparent' placeholder='XX' required='')
        .form-group
          label  How many people live in the household, including parents? 
          a(href='#' data-bs-toggle='tooltip' title='Include all the members of your household that the student spends the majority of time at.  This includes parents, siblings, siblings in college, and any other dependents like dependent grandparents.')
            i.bi.bi-info-circle
          input.form-control(type='number' name='hhsize' placeholder='XX' required='')
        .form-group
          label
            | How many people in the household, including the student will be in college during the 2022-2023 school year?
          a(href='#' data-bs-toggle='tooltip' title='Please do not include parents that are enrolled in college')
            i.bi.bi-info-circle
          input.form-control(type='number' name='numincollege' placeholder='XX' required='')
        .form-group
          label
            | How many people in the household, not including the student, will be enrolled during the student&apos;s projected 4 year college degree?
          a(href='#' data-bs-toggle='tooltip' title='Enter any other members of the household that are projected to attend college at the same time as this student.  For Example if they have a sibling that in a junior in High School and they are considering attending college, add them to this number.')
            i.bi.bi-info-circle
          input.form-control(type='number' name='overlapcollege' required='')
        h2  Family Income and Assets 
        .form-group
          label  How much did the student earn in 2020? 
          a(href='#' data-bs-toggle='tooltip' title='Include all earnings, wages, tips, and business income that the student received in 2020')
            i.bi.bi-info-circle
          input.form-control(type='number' name='studentincome' required='')
        .form-group
          label  How much did Parent 1 earn in 2020? 
          a(href='#' data-bs-toggle='tooltip' title='Include all earnings, wages, tips, and business income that Parent 1 received in 2020')
            i.bi.bi-info-circle
          input.form-control(type='number' name='p1income' required='')
        .form-group
          label  How much did Parent 2 earn in 2020? 
          a(href='#' data-bs-toggle='tooltip' title='Include all earnings, wages, tips, and business income that Parent 2 received in 2020, If there is not a Parent 2 please enter 0')
          i.bi.bi-info-circle
          input.form-control(type='number' name='p2income' required='')
        .form-group
          label  Child Support received in 2020?
          a(href='#' data-bs-toggle='tooltip' title='Enter in all Child Support received in the household that the students spends majority of their time.')
            i.bi.bi-info-circle
          input.form-control(type='number' name='supportrecvd' required='')
        .form-group
          label  Amount of Untaxed Income in 2020 Tax Year?
          a(href='#' data-bs-toggle='tooltip' title='Enter in any income received by parents that is untaxed such as Social Security payments, legal settlements, or other income received. If there is no untaxed income enter 0.')
            i.bi.bi-info-circle
          input.form-control(type='number' name='untaxedincome' required='')
        .form-group
          label  Child Support Parents Paid in 2020 Tax Year? 
          a(href='#' data-bs-toggle='tooltip' title='Provide the support paid by your custodial parent')
            i.bi.bi-info-circle
          input.form-control(type='number' name='supportpaid' required='')
        .form-group
          label  Total Parents Cash, Checking and Savings Balance? 
          a(href='#' data-bs-toggle='tooltip' title="Provide parents' current balances as of today.  Include all accounts with the exception of dedicated retirement, investment or brokerage accounts.")
            i.bi.bi-info-circle
          input.form-control(type='number' name='householdsavings' required='')
        .form-group
          label  Total Student Cash, Checking and Savings Balance? 
          a(href='#' data-bs-toggle='tooltip' title='Provide student current balances as of today.  Include all accounts with the exception of dedicated retirement, investment or brokerage accounts')
            i.bi.bi-info-circle
          input.form-control(type='number' name='studentchecking' required='')
        //
          <label>Do your Parents own a home?</label> </label> <a href="#" data-bs-toggle="tooltip" title="Indicate Yes if the household student spends majority of time is owned. This will be used for "><i class="bi bi-info-circle"></i></a>
          <div class="form-check">
          <input class="form-check-input" type="checkbox" value="Y" name="homeowner" id="Homeowner">
          <label class="form-check-label" for="Homeowner">
          Yes
          </label>
          </div>
          <div class="form-check">
          <input class="form-check-input" type="checkbox" value="N" name="homeowner" id="Homeowner">
          <label class="form-check-label" for="Homeowner">
          No
          </label>
          </div>
          <div class="form-group">
          <label> If you indicated you own your home indicate the accessed value below, if you indicated "No" enter 0  </label>
          <input type="number" name="housevalue" class="form-control" required>
          </div>
        .form-group
          label  Total Student Investment Net Worth 
          a(href='#' data-bs-toggle='tooltip' title='Enter in the amount of investment assets that student owns.  For example balances of owned stock or value of rental properties.  If the student has none, enter 0.')
            i.bi.bi-info-circle
          p If negative enter 0
          input.form-control(type='number' name='studentinvestment' required='')
        .form-group
          label Total Student Business / Farm Net Worth?  
          a(href='#' data-bs-toggle='tooltip' title='Enter in business value of any student owned business that has more than 100 employees.  Enter 0 if there is student does not own a buiness or farm with over 100 employees.')
            i.bi.bi-info-circle
          p Applies to Businesses employing &gt;100
          input.form-control(type='number' name='studentbusiness' required='')
        .form-group
          label  Total Parent Investment Net Worth 
          a(href='#' data-bs-toggle='tooltip' title='Enter in the amount of investment assets that Parent owns.  For example balances of owned stock or value of rental properties.  If the Parent has none, enter 0.')
            i.bi.bi-info-circle
          p If negative enter 0
          input.form-control(type='number' name='parentinvestment' required='')
        .form-group
          label  Total Parent Business / Farm Net Worth?  
          a(href='#' data-bs-toggle='tooltip' title='Enter in business value of any Parent owned business that has more than 100 employees.  Enter 0 if there is Parents do not own a buiness or farm with over 100 employees.')
            i.bi.bi-info-circle
          p Applies to Businesses employing &gt;100
          input.form-control(type='number' name='parentbusiness' required='')
        h2 Family Financial Goals for 2022
        h3
          | In this section we are looking to get a better understanding of your financial goals for the upcoming year. For each of these questions we would like you to enter the amount that your familiy would like to contribute to each of the categories to gain financal secruity.  If you do not have any goals or do not contribute to these areas, you may enter 0.
        br
        br
        div
          .form-group
            label  How much do you anticipate you will contribute monthly to your savings? 
            a(href='#' data-bs-toggle='tooltip' title="Enter the amount that you will contribute to your 'Rainy Day' fund.  It is recommended that you have atleast 3 months of salary saved if possible")
              i.bi.bi-info-circle
            p How much would you like to save in 2022
            input.form-control(type='number' name='familysavingsgoal' required='')
        .form-group
          label
            | How much do you anticipate you will contribute to your retirement monthly? Please enter as a dollar amount.
          a(href='#' data-bs-toggle='tooltip' title="Enter the amount that you will contribute to IRA's, 401K's, or any other dedicated retirement account. It is recommended that you you contribute 15% of your income towards retirement")
            i.bi.bi-info-circle
          input.form-control(type='number' name='parentretirementgoal' required='')
        .form-group
          label  How much do you antipate you will invest monthly in 2022?
          a(href='#' data-bs-toggle='tooltip' title='Please enter the amount that you anticiapte that you will actively invest each month into stocks or any other investment tools.')
            i.bi.bi-info-circle
          p Family investments in equities, real estate etc., this year
          input.form-control(type='number' name='parentinvestgoal' required='')
        .form-group
          label
            | How much do you anticipate you will contribute monthly to a college saving plan or account?
          a(href='#' data-bs-toggle='tooltip' title='Include amounts for all children in this amount')
            i.bi.bi-info-circle
          input.form-control(type='number' name='collegesavingsgoal' required='')
        h2  Family Expenses 
        h3
          | Please provide your monthly family expenses.  This will help give us a better sense of the expenses you have going out each month.
        br
        br
        .form-group
          label  Monthly Car Payments? 
          p Includes Auto Lease and Loan Payments.
          input.form-control(type='number' name='familycar' required='')
        .form-group
          label  Monthly Housing Costs
          p Includes Mortgage and Rent Payments.
          input.form-control(type='number' name='familyhousing' required='')
        .form-group
          label  Monthly Insurance Premiums?
          p Includes Medical, Home, Renters, Auto and Life Insurance, etc.
          input.form-control(type='number' name='insurance' required='')
        .form-group
          label  Monthly Debt Payments?  
          p
            | Includes revolving or monthly payments to credit cards, personal loans, loan consolidation/repayment, Federal PLUS loans for older siblings, etc., not factored into another Family Expense category.
          input.form-control(type='number' name='revolvingdebt' required='')
        .form-group
          label  Monthly Food Expenditure? 
          p Includes grocery, restaurants, delivery, take out and warehouse memberships.
          input.form-control(type='number' name='food' required='')
        .form-group
          label  Monthly Utilities Expenditure?
          p
            | Includes electricity, water, heating fuel, cell phone plans, Wi-Fi , satellite or cable connectivity and any subscription service (NETFLIX, AppleTV, etc.)
          input.form-control(type='number' name='utilities' required='')
        .form-group
          label  Monthly Transportation Expenditure?
          p
            | Includes gasoline, road tolls, ride-shares, public transportation, parking, snow removal, licensing, registration and car maintenance.
          input.form-control(type='number' name='transportation' required='')
        .form-group
          label  Monthly Care/Tuition Expenditure?
          p Includes Daycare, Eldercare, School or Course Work, Tuition and fees.
          input.form-control(type='number' name='childcare' required='')
        .form-group
          label  Monthly Entertainment and Vacation Expenditures 
          input.form-control(type='number' name='entertainment' required='')
        button(type='submit') Submit
        script.
          $(document).ready(function(){
          $('[data-toggle="tooltip"]').tooltip();
          });
// Footer
footer.bg-light.py-5
  .container
    .small.text-center.text-muted Copyright &copy; 2022 - College CAP
// Bootstrap core JS
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')
// Third party plugin JS
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js')
// Core theme JS
script(src='js/scripts.js')
