head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='')
  meta(name='author' content='')
  title College CAP Assessment Form 
  // Favicon
  link(rel='icon' type='image/x-icon' href='assets/img/logo.jpg')
  // Font Awesome icons (free version)
  script(src='https://use.fontawesome.com/releases/v5.13.0/js/all.js' crossorigin='anonymous')
  // Google fonts
  link(href='https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css')
  // Third party plugin CSS
  link(href='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css' rel='stylesheet')
  // Core theme CSS (includes Bootstrap)
  link(href='css/styles.css' rel='stylesheet')
  // Global site tag (gtag.js) - Google Analytics
  script(async='' src='https://www.googletagmanager.com/gtag/js?id=UA-178820975-1')
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag() {
    dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-178820975-1');
// Navigation
nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top.py-3
  .container
    img.navbar-brand.js-scroll-trigger.logohead(src='assets/img/logo.jpg')
    button.navbar-toggler.navbar-toggler-right(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarResponsive.collapse.navbar-collapse
      ul.navbar-nav.ml-auto.my-2.my-lg-0
        li.nav-item
          a.nav-link.js-scroll-trigger(href='index.html') Home
        li.nav-item
          a.nav-link.js-scroll-trigger(href='services.html') Services
        li.nav-item
          a.nav-link.js-scroll-trigger(href='about.html') About
        li.nav-item
          a.nav-link.js-scroll-trigger(href='events.html') Events
        li.nav-item
          a.nav-link.js-scroll-trigger(href='video.html') Video Tutorial
        li.nav-item
          a.nav-link.js-scroll-trigger(href='contact.html') Contact
// Masthead
header.masthead
  .container.h-100
    .row.h-100.align-items-center.justify-content-center.text-center
      .col-lg-10.align-self-end
        h1.text-uppercase.text-white.font-weight-bold College CAP
        hr.divider.my-4
      .col-lg-8.align-self-baseline
        p.text-white-75.font-weight-light.mb-5 Let College CAP help you determine college affordability!
br
br
.container
  .row
    .col-md-12
      h1  CAP Assessment Form 
      h2 Student Information 
      p
        | Please complete this form to the best of your ability.  Providing accurate information will lead to a more realistic projection.
      form(action='https://formspree.io/f/xdobynpo' method='post')
        .form-group
          label  Parent Name 
          input.form-control(type='text' name='parentname' required='')
        .form-group
          label  Student Name 
          input.form-control(type='text' name='studentname' required='')
        .form-group
          label  State of Residence 
          i.fas.fa-info-circle
          input.form-control(type='text' name='state' required='')
        .form-group
          label  County 
          input.form-control(type='text' name='county' required='')
        .form-group
          label  Primary Contact Email Address 
          input.form-control(type='email' name='email' required='')
        h2 Family Information 
        .form-group
          label  Age of Oldest Parent 
          input.form-control(type='number' name='oldestparent' required='')
        .form-group
          label  How many people live in the parents&rsquo; household, including parents? 
          i.bi.bi-info-circle(title='Please enter the state of legal residence.  Please refer to your state requirements if you have recently moved.')
          input.form-control(type='number' name='hhsize' required='')
        .form-group
          label
            | How many people in the students&rsquo; household, including the student will be in college during the 2022-2023 school year?
          input.form-control(type='number' name='numincollege' required='')
        .form-group
          label
            | How many people in the students&rsquo; household, NOT including the student, will be in college during the same undergraduate years?
          input.form-control(type='number' name='overlapcollege' required='')
        h2  Family Income and Assets 
        .form-group
          label  Student Income in 2020 Tax Year? 
          input.form-control(type='number' name='studentincome' required='')
        .form-group
          label  Parent 1 Income in 2020 Tax Year? 
          input.form-control(type='number' name='p1income' required='')
        .form-group
          label  Parent 2 Income in 2020 Tax Year? 
          input.form-control(type='number' name='p2income' required='')
        .form-group
          label  Child Support received in 2020?
          input.form-control(type='number' name='supportrecvd' required='')
        .form-group
          label  Amount of Untaxed Income in 2020 Tax Year?
          input.form-control(type='number' name='untaxedincome' required='')
        .form-group
          label  Child Support Parents Paid in 2020 Tax Year? 
          input.form-control(type='number' name='supportpaid' required='')
        .form-group
          label  Total Student Cash, Checking and Savings Balance? 
          input.form-control(type='number' name='studentchecking' required='')
        label Do your Parents own a home?
        .form-check
          input#Homeowner.form-check-input(type='checkbox' value='Y' name='homeowner')
          label.form-check-label(for='Homeowner')
            | Yes
        .form-check
          input#Homeowner.form-check-input(type='checkbox' value='N' name='homeowner')
          label.form-check-label(for='Homeowner')
            | No
        .form-group
          label
            | If you indicated you own your home indicate the accessed value below, if you indicated &quot;No&quot; enter 0
          input.form-control(type='number' name='housevalue' required='')
        .form-group
          label  Total Student Investment Net Worth 
          p If negative enter 0
          input.form-control(type='number' name='studentinvestment' required='')
        .form-group
          label ** Total Student Business / Farm Net Worth?  
          p Applies to Businesses employing &gt;100
          input.form-control(type='number' name='studentbusiness' required='')
        .form-group
          label  Total Parents Cash, Checking and Savings Balance? 
          input.form-control(type='number' name='householdsavings' required='')
        .form-group
          label  Total Parent Investment Net Worth 
          p If negative enter 0
          input.form-control(type='number' name='parentinvestment' required='')
        .form-group
          label  Total Parent Business / Farm Net Worth?  
          p Applies to Businesses employing &gt;100
          input.form-control(type='number' name='parentbusiness' required='')
        h2 Family Financial Goals for 2022
        div
          .form-group
            label  Annual Family Savings Goal? 
            p How much would you like to save in 2022
            input.form-control(type='number' name='familysavingsgoal' required='')
        .form-group
          label  Annual Family Retirement Savings Goal?
          input.form-control(type='number' name='parentretirementgoal' required='')
        .form-group
          label  Annual Family Investment Goal
          p Family investments in equities, real estate etc., this year
          input.form-control(type='number' name='parentinvestgoal' required='')
        .form-group
          label  Annual Family College Savings Goal? 
          input.form-control(type='number' name='collegesavingsgoal' required='')
        h2  Family Expenses 
        .form-group
          label  Current Annual Car Payments? 
          p Includes Auto Lease and Loan Payments.
          input.form-control(type='number' name='familycar' required='')
        .form-group
          label  Annual Housing Costs
          p Includes Mortgage and Rent Payments.
          input.form-control(type='number' name='familyhousing' required='')
        .form-group
          label  Current Annual Insurance Premiums?
          p Includes Medical, Home, Renters, Auto and Life Insurance, etc.
          input.form-control(type='number' name='insurance' required='')
        .form-group
          label  Current Annual Debt Payments?  
          p
            | Includes revolving or monthly payments to credit cards, personal loans, loan consolidation/repayment, Federal PLUS loans for older siblings, etc., not factored into another Family Expense category.
          input.form-control(type='number' name='revolvingdebt' required='')
        .form-group
          label  Current Annual Food Expenditure? 
          p Includes grocery, restaurants, delivery, take out and warehouse memberships.
          input.form-control(type='number' name='food' required='')
        .form-group
          label  Current Annual Utilities Expenditure?
          p
            | Includes electricity, water, heating fuel, cell phone plans, Wi-Fi , satellite or cable connectivity and any subscription service (NETFLIX, AppleTV, etc.)
          input.form-control(type='number' name='utilities' required='')
        .form-group
          label  Current Annual Transportation Expenditure?
          p
            | Includes gasoline, road tolls, ride-shares, public transportation, parking, snow removal, licensing, registration and car maintenance.
          input.form-control(type='number' name='transportation' required='')
        .form-group
          label  Current Annual Care/Tuition Expenditure?
          p Includes Daycare, Eldercare, School or Course Work, Tuition and fees.
          input.form-control(type='number' name='childcare' required='')
        .form-group
          label  Current Annual Entertainment and Vacation Expenditures 
          input.form-control(type='number' name='entertainment' required='')
        button(type='submit') Submit
// Footer
footer.bg-light.py-5
  .container
    .small.text-center.text-muted Copyright &copy; 2022 - College CAP
// Bootstrap core JS
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')
// Third party plugin JS
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js')
// Core theme JS
script(src='js/scripts.js')
