doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description" content="")
    meta(name="author" content="")
    title College CAP
    // Favicon
    link(rel="icon" type="image/x-icon" href="assets/img/logo.jpg")
    // Font Awesome icons (free version)
    script(src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous")
    // Google fonts
    link(href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css")
    // Third party plugin CSS
    link(href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" rel="stylesheet")
    // Core theme CSS (includes Bootstrap)
    link(href="css/styles.css" rel="stylesheet")
    // Global site tag (gtag.js) - Google Analytics
    script(async="" src="https://www.googletagmanager.com/gtag/js?id=UA-178820975-1")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag() {
      dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-178820975-1');
  body#page-top
    // Navigation
    nav#mainNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top.py-3
      .container
        img.navbar-brand.js-scroll-trigger.logohead(src="assets/img/logo.jpg")
        button.navbar-toggler.navbar-toggler-right(type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation")
          span.navbar-toggler-icon
        #navbarResponsive.collapse.navbar-collapse
          ul.navbar-nav.ml-auto.my-2.my-lg-0
            li.nav-item
              a.nav-link.js-scroll-trigger(href="index.html") Home
            li.nav-item
              a.nav-link.js-scroll-trigger(href="services.html") Services
            li.nav-item
              a.nav-link.js-scroll-trigger(href="about.html") About
            li.nav-item
              a.nav-link.js-scroll-trigger(href="events.html") Events
            li.nav-item
              a.nav-link.js-scroll-trigger(href="video.html") Video Tutorial
            li.nav-item
              a.nav-link.js-scroll-trigger(href="contact.html") Contact Us
    section#contact.page-section
      .container
        .row.justify-content-center
          .col-lg-8.text-center
            h2.mt-0 Let's Get In Touch!
            hr.divider.my-4
            p.text-muted.mb-5
              | Ready to get started?  Complete the form below to tell us a little about yourself and we will get back to you as soon as possible!
    section
      form.formpage(action="https://formspree.io/xzbjryde" method="POST")
        .form-row
          .form-group.col-md-6
            label(for="fname") First Name (required)
            input.form-control(type="text" name="fname" placeholder="First Name" required="")
          .form-group.col-md-6
            label(for="lname") Last Name
            input.form-control(type="text" name="lname" placeholder="Last Name")
        .form-row
          .form-group.col-md-6
            label(for="email") E-mail Address (required)
            input.form-control(type="email" name="email" placeholder="E-mail Address" required="")
          .form-group.col-md-6
            label(for="phone") Phone Number
            input.form-control(type="number" name="phone" placeholder="(xxx)xxx-xxxx")
        .form-row
          .form-group.col-md-6
            label(for="inputCity") City
            input.form-control(type="text" name="inputCity")
          .form-group.col-md-4
            label(for="inputState") State
            input.form-control(type="text" name="state" placeholder="State")
          .form-group.col-md-2
            label(for="inputZip") Zip
            input.form-control(type="text" name="inputZip")
        .form-group
          label(for="exampleFormControlTextarea1") Please feel free to let us know anything we need to know
          textarea.form-control(name="exampleFormControlTextarea1" rows="3")
        button.btn.btn-primary(type="submit") Submit
  footer.bg-light.py-5
    .container
      .small.text-center.text-muted Copyright © 2020 - College CAP
  // Bootstrap core JS
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js")
  script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js")
  // Third party plugin JS
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js")
  // Core theme JS
  script(src="js/scripts.js")
