
header.form {
    padding-top: 10rem;
    padding-bottom: calc(10rem - #{$navbar-height});
    // replace the masthead.jpg image in the /assets/img directory to change the image
    // if the image name change, make sure to update the url path below!
    background: linear-gradient(
            to bottom,
            #{fade-out($blue, 0.2)} 0%,
            #{fade-out($blue, 0.2)} 100%
        ),
        url("../assets/img/formpic.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

form {
    color: blue;
}
form h1 {
    color: orange;
}
form h2 {
    color: orange;
}
h1 {
    color: orange;
}
h2 {
    color: orange;
}
p {
    color: orange;
}
form p {
    color: blue;
}
a {
    color: blue;
}