form {
    color: blue;
}
form h1 {
    color: orange;
}
form h2 {
    color: orange;
}
h1 {
    color: orange;
}
h2 {
    color: orange;
}
p {
    color: orange;
}
form p {
    color: blue;
}
a {
    color: blue;
}