.aboutteam h1{
    justify-content: center;
    }
.formpage {
       padding-right: 10%;
       padding-left: 10%;
    
     }
.aboutimg{
      height:250px
     }
.img-height {
       height: 100vh;
       width: 50vw;
     }
    
.blk-border{
       border-color: orange;
     }
.aboutintro {
      background-color: var(--blue);
      color:whitesmoke;
      
    }

.serv {
        height: 30vh;
        width: 42vh;
        margin: 25px;
        justify-content: center;
        }
.stitle {
          text-justify: center;
          position: center;
          text-align: center;
          color: blue;
          font-weight: bolder;
        }
.stitlepara {
           text-justify: center;
           position: center;
           text-align: center;
           color:orange;
           font-weight: bolder;
}
        
.logohead {
          height: 12vh;
          width: 15vw;
        }
.webinar{
          background-color: rgba(12, 12, 241, 0.89);
          color: white;
        }
.webwhite {
          color: white;
        }
.flex-grid {
          display: flex;
          justify-content: space-between;
        }
.flex-grid.col {
          width: 100%;
        }
.img {
  justify-content: center;
}
        
    @media (max-width: 400px) {
          .flex-grid {
            display: block;
            .col {
              width: 100%;
              margin: 0 0 10px 0;
            }
          }
        }
        * {
          box-sizing: border-box;
        }
        body {
          padding: 20px;
        }
        .flex-grid { 
          margin: 0 0 20px 0;
        }

       