.aboutteam h1{
    justify-content: center;
    }
.formpage {
       padding-right: 10%;
       padding-left: 10%;
    
     }
.aboutimg{
      height:250px
     }
.img-height {
       height: 100vh;
       width: 50vw;
     }
    
.blk-border{
       border-color: orange;
     }
.aboutintro {
      background-color: var(--blue);
      color:whitesmoke;
      
    }

.serv {
        height: 25vh;
        width: 35vh;
        }
.stitle {
          text-justify: center;
          position: center;
          text-align: center;
        }
        
.logohead {
          height: 12vh;
          width: 15vw;
        }
.webinar{
          background-color: #0c9fcc;
          color: white;
        }
.webwhite {
          color: white;
        }